#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=OIFF Image Viewer
Exec=oiff display %f
Icon=/usr/share/icons/hicolor/128x128/apps/oiff-viewer.svg
MimeType=image/x-oiff;
